/* src/pages/Done.css */
.donepage{
  padding: 40px;
  width: 1450px;
}
.done {
    text-align: center;
    padding: 40px;
    margin-top: 50px;
    background-color: #f4f6f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 50px auto;
  }
  
  .done h2 {
    font-size: 2em;
    color: #4fb157; /* Success color */
  }
  
  .done p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
  }
  
  .done-button {
    padding: 10px 20px;
    background-color: #4fb157;; /* Success color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
  }
  
  .done-button:hover {
 /* Success color */
    background-color: #215125;; /* Darker green */
  }
  